@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply m-0 overflow-x-hidden p-0;
}

.outline-text {
  text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
}

.outline-text-dark {
  text-shadow:
    -1px -1px 0 #f87171,
    1px -1px 0 #f87171,
    -1px 1px 0 #f87171,
    1px 1px 0 #f87171;
}

@media (min-width: 768px) {
  .why-join-us-image {
    clip-path: polygon(0 0, 100% 0%, 76% 100%, 0% 100%);
  }
}

.hero-container {
  clip-path: polygon(0 0, 100% 0%, 100% 95%, 0 100%);
}

.glass-effect {
  @apply bg-opacity-20 backdrop-blur-md backdrop-filter;
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    @apply w-2;
  }

  .scrollbar::-webkit-scrollbar-track {
    @apply opacity-0;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    @apply bg-none;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #c0a0b9;
  }

  ::selection {
    @apply bg-primary-normal bg-opacity-40 text-text-primary;
  }

  ::-moz-selection {
    @apply bg-primary-normal bg-opacity-40 text-text-primary;
  }
}
